* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

hr{
    border: 3px solid black;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 75px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background:rgb(255, 255, 255, 0.3);
}
header:hover{
    background: rgb(255, 255, 255, 1);
}
header.sticky{
    background: rgb(255, 255, 255, 1);
}
.logo {
    flex: 1;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    flex: 3;
    display: flex;
}

.menu>li {
    padding: 0 20px;
    position: relative;
}

.menu>li:hover .sub-menu {
    visibility: visible;
    top: 47px;
}

.sub-menu {
    position: absolute;
    width: 120px;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    visibility: hidden;
    top: 65px;
    transition: 0.3s;
    z-index: 1;
    background: white;
}
.sub-menu ul {
    padding-left: 15px; 
}

.sub-menu li a {
    font-weight: normal;
    font-size: 12px;
}

.menu>li a {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

.other {
    flex: 1;
    display: flex;
}

.other>li {
    padding: 0 15px;
    position: relative;
}
.other>li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: rgb(195, 184, 184);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.other > li:last-child::after{
    display: none;
}
.other>li:first-child {
    position: relative;
}

.other>li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}

.other>li:first-child i {
    position: absolute;
    right: 10px;
}

#Slider {
    padding-bottom: 50px;
    border: 3px solid black;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 48.75%;
    transition: 0.4s;

}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    height: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}

/*-----------------------------------------app------------------------------------------*/
.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 50px;
    cursor: pointer;
}

.app-container {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
}

/*-----------------------------------footer------------------------------------*/
.footer {
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: grey;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: rgb(12, 11, 11);
}

.footer-center {
    text-align: center;
}

.footer-bottom {
    margin: 40px 0 0 ;
    text-align: center;
    background-color: rgb(239, 228, 228);
}

/* For smaller screens and mobile devices */
@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }

    .menu>li {
        padding: 0 10px;
    }

    .sub-menu {
        width: 150px;
    }

    .other>li {
        padding: 0 5px;
    }

    .app-container input {
        max-width: 300px;
    }
    .other>li:first-child {
        display: none;
      }
}

/* For even smaller screens, adjust as needed */
@media (max-width: 576px) {
    header {
        padding: 0 5px;
    }

    .menu>li {
        padding: 0 5px;
    }

    .sub-menu {
        width: 120px;
        font-size: 10px;
    }

    .app-container input {
        max-width: 250px;
    }
}


/*------------------------------------------  category   --------------------------------------------*/
.category{
    padding: 80px;
}
.category-top{
    margin-bottom: 50px;
}
.category-top p {
    margin: 0 12px;
    font-size: 12px;
    color: #918383;
}
.category-left{
    width: 20%;
}
.category-right{
    width: 80%;
}
.category-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-weight: bold;
}
.category-right-top-item {
    flex: 1;
    padding: 0 12px;
}
.category-right-top-item button{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.category-right-top-item select{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #dddddd;
    cursor: pointer; 
}
.category-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.category-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}
.category-right-content-item p{
    cursor: pointer;
    font-size: 13px;
    color: red;
}

.category-right-content-item h2{
    font-size: 11px;
    margin-top: 6px;
    color: #5c5050;
    cursor: pointer;
}
.category-right-content-item img{
    width: 100%;
}
.category-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom p{
    font-size: 12px;
}
.category-left ul li{
    padding: 12px 0;
}
.category-left ul li>a{
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.category-left ul li ul li{
    padding-left: 7px;
}
.category-left-li ul{
    display: none;
}
.category-left-li.block ul{
    display: block;
}
.category-left ul li ul li a{
    color: #5c5050;
    font-size: 10px;
}

/*------------------------------------------  product   --------------------------------------------*/
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
    margin: 0 12px;
    font-size: 12px;
    color: #918383;
}
/* left */
.product-content-left{
    width: 50%;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
    cursor: pointer;
}
.product-content-left-small-img{
    width: 18%;
}
.product-content-left-small-img img{
    width: 100%;
    cursor: pointer;
}
/* right */
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name{
    font-size: 16px;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
}
.product-content-right-product-color-img{
    height: 40pxa;
    width: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border-radius: 10px ;
    border: solid 1px black;
}
.quantity{
    display: flex;
    margin: 12px 0 20px 0;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px ;
    transition: all 0.5s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: white;
}
.product-content-right-product-button button:last-child{
    border: 2px solid black;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}
.product-content-right-product-button button:last-child:hover{
    background-color: black;
    color: white;
}
.product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-bottom{
    border-top: 2px solid rgb(137, 125, 125);
    position: relative;
    margin: 30px 20px 0 20px;
}

.product-content-right-bottom-top{ 
    font-size: 35px;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(138, 123, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-right-bottom-top span {
    display: inline-block;
    border-radius: 50%;
    padding-bottom: 30px;
  }
.product-content-right-bottom-content-title{
    padding-top: 30px;
    border-bottom: 2px solid grey;
}
.product-content-right-bottom-content-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 4px;
}
.product-content-right-bottom-content-title-item p{
    font-size: 17px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
}
.product-content-right-bottom-content p{
    font-size: 12px;
}
.product-content-right-bottom-content-detail,
.product-content-right-bottom-content-accessory,
.product-content-right-bottom-content-guarantee{
    display: none;
}
.activeB{
    display: none;
}

/*--------------------  product-related------------------------------*/
.product-related{
    margin: 20px 50px 50px 50px;
    padding-bottom: 80px;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.product-related-item {
    width: 20%;
    text-align: center;
    padding: 0 7px;
    cursor: pointer;
}
.product-related-item img{
    width: 100%;
}
.product-related-item h2{
    font-size: 15px;
    color: black;
    margin-top: 6px;
}
.product-related-item p{
    font-size: 12;
}
.product-related-item p span{
    margin-right: 10px;
}
.price-off{
    color: red;
}
.sale-off{
    font-size: 15px;
    text-decoration: line-through;
}


/*---------------------------------------------cart------------------------------------------------------*/
/*---------------------icon-cart--------------------------*/
.cart{
    padding: 100px 0;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{
    height: 2px;
    width: 50%;
    background-color: rgb(36, 42, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.cart-top-item i{
    color: #dddddd;
}
.cart-top-cart{
    border: 2px solid rgb(201, 70, 70);
}
.cart-top-cart i{
    color:  rgb(201, 70, 70);
}
/*---------------------cart-left--------------------------*/
.container{
    margin: 0 30px 0 30px;
}
.cart-content-left{
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table{
    width: 100%;
    text-align: center;
}
.cart-content-left table th{
    padding-bottom: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(27, 24, 24);
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left table p{
    font-size: 17px;
    color: black;
}
.cart-content-left table input{
    width: 30px;
}
.cart-content-left table span.delete-product-cart{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.cart-content-left table td{
    padding: 20px 0;
    border-bottom: 2px solid grey;
}
.cart-content-left td:first-child img{
    width: 150px;
}
.cart-content-left td:nth-child(2){
    max-width: 150px;
}
.cart-content-left td:nth-child(3) img{
    width: 30px;
}

/*---------------------cart-right--------------------------*/
.cart-content-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid black;
}
.cart-content-right table{
    width: 100%;
}
.cart-content-right table th{
    padding-bottom: 30px;
    font-size: 17px;
    color: black;
    border-collapse: collapse;
    border-bottom: 2px solid black;
}
.cart-content-right table td{
    font-size: 17px;
    padding: 5px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid grey;
}
.cart-content-right tr td:last-child{
    text-align: right;
}
.cart-content-right-text{
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p{
    font-size: 17px;
    color: black;
}
.cart-content-right-button{
    text-align: center;
    align-items: center;
}
.cart-content-right-button button{
    padding: 0 10px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
}
.cart-content-right-button button:first-child{
    background-color: rgb(218, 209, 209);
    border: 2px solid black;
    margin-right: 10px;
}
.cart-content-right-button button:first-child:hover{
    background-color: greenyellow;
}
.cart-content-right-button button:last-child{
    background-color: rgb(220, 211, 211);
    border: 2px solid black;
}
.cart-content-right-button button:last-child:hover{
    background-color: rgb(170, 98, 98);
}

.cart-content-right-login{
    margin-top: 20px;
}
.cart-content-right-login p{
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.cart-content-right-login p a{
    color: green;
}


/*---------------------------------------------delivery------------------------------------------------------*/ 
/*---------------------icon-address--------------------------*/
.delivery{
    padding: 100px 0;
}
.delivery-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery-top{
    height: 2px;
    width: 70%;
    background-color: rgb(36, 42, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.delivery-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.delivery-top-item i{
    color: #dddddd;
}
.delivery-top-address{
    border: 2px solid rgb(201, 70, 70);
}
.delivery-top-address i{
    color:  rgb(201, 70, 70);
}

/*---------------------delivery-left--------------------------*/
.delivery-content-left{
    padding-right: 12px;
}
.delivery-content-left>p{
    font-size: 17px;
    font-weight: bold;
}
.delivery-content-left label{
    font-size: 15px;
    display: block;
    margin-bottom: 6px;
}
.delivery-content-left-login{
    margin-top: 12px;
}
.delivery-content-left-login i{
    font-size: 13px;
}
.delivery-content-left-sigle-customer{
    margin: 12px 0;
}
.delivery-content-left-sigle-customer input{
    margin-right: 12px;
    cursor: pointer;
}
.delivery-content-left-register{
    margin-bottom: 30px;
}
.delivery-content-left-register input{
    margin-right: 12px;
    cursor: pointer;
}
.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    padding: 12px 0;
    width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid black;
    padding-left: 6px;
}
.delivery-content-left-button p{
    display: inline-block;
    font-size: 13px;
}
.delivery-content-left-button>a>p{
    margin-right: 10px;
}
.delivery-content-left-button>a:hover{
    color: blue;
}
.delivery-content-left-button span{
    margin-right: 12px;
}
.delivery-content-left-button{
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-left-button button{
    height: 35px;
    border: 2px solid black;
    padding:  6px 12px; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.delivery-content-left-button button:hover{
    background-color: greenyellow;
    color: red;
}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid grey;
    height: auto;
}
.delivery-content-right table tr th:first-child{
    text-align: left;
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid black;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td{
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid black;
}
.delivery-content-right table tr td:last-child{
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}
 
/*---------------------------------------------payment------------------------------------------------------*/ 
/*---------------------icon-payment--------------------------*/
.payment{
    padding: 100px 0;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top{
    height: 2px;
    width: 70%;
    background-color: rgb(36, 42, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.payment-top-item i{
    color: #dddddd;
}
.payment-top-payment{
    border: 2px solid rgb(201, 70, 70);
}
.payment-top-payment i{
    color:  rgb(201, 70, 70);
}

/*---------------------payment-left--------------------------*/
.payment-content-left{
    width: 60%;
}
.payment-content-left p,label{
     font-size: 15px;
}

/*---------------------payment-left--------------------------*/
.payment-content-right{
    width: 40%;
    border-left: 2px solid gray;
    padding-left: 12px;
}
.payment-content-right-button{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed gray;
}
.payment-content-right-button input{
    height: 30px;
    width: 200px;
    margin-right: 40px;
    padding-left: 12px;
}
.payment-content-right-button button{
    height: 30px;
    width: 100px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-content-right-staff{
    margin-top: 20px;
}
.payment-content-right-staff select{
    height: 30px;
    width: 100%;
    color: gray;
    padding-left: 10px;
}
.payment-content-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.payment-content-right-payment button{
    height: 35px;
    padding: 0 20px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s ease;
}
.payment-content-right-payment button:hover{
    background-color: greenyellow;
    color: red;
    border: none;
}


/*--------------------about------------------------------*/
.about{
    padding: 100px 0;
}
.about-content-left{
    width: 50%;
}
.about-content-right{
    width: 50%;
    align-items: center;
    padding-left: 20px;
}
.about-content-left-img{
    width: 100%;
}
.about-content-left-img img{
    width: 100%;
    max-height: 500px;
    align-items: center;
}

/*--------------------blog------------------------------*/
.blog{
    padding: 100px 0px;
}
.blog_area {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.single_blog {
	padding: 20px 20px 13px;
	border: 1px solid #ededed;
	margin-bottom: 30px;
}
.blog_thumb {
	margin-bottom: 20px;
    overflow: hidden;
}
.blog_thumb img{
    -webkit-transition: .3s;
    transition: .3s;
    max-width: 100%;
}
.single_blog:hover .blog_thumb img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    vertical-align: middle;
}
.blog_content h3 {
	font-size: 18px;
	font-weight: 500;
	margin: 14px 0 8px;
	line-height: 24px;
	color: #333;
}
.blog_content h3 a:hover,.Read_more a:hover{
    color:aqua;
}
.blog_content p {
	font-size: 15px;
	position: relative;
    color: #555;
}
.post_footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.post_footer {
	border-top: 1px solid #ededed;
	margin: 20px 0 0;
	padding: 20px 0 0;
}

.Read_more a {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.5px;
    color: #00bba6;
}
.post_footer {
	border-top: 1px solid #ededed;
	margin: 14px 0 0;
	padding: 12px 0 0;
	position: relative;
	overflow: hidden;
}
.single_blog:hover .Read_more {
	top: 37%;
	opacity: 1;
	visibility: visible;
}
.single_blog:hover .post_meta{
    opacity: 0;
}
.Read_more {
	position: absolute;
	top: 130%;
	left: 0;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
}

/*--------------------blog_details------------------------------*/
.blog-details{
    padding: 100px 0;
}
.blog-details-area{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.blog-details-img{
    padding-bottom: 20px;
}
.blog-details-thumb img{
    max-width: 100%;
    height: auto;
}
.blog_entry_content p {
	color: #666666;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 15px;
}
.blog_entry_content p.blockquote {
	color: #555;
	font-size: 18px;
	font-style: italic;
	padding: 0 0 0 10px;
	border-left: 5px solid #00bba6;
	line-height: 26px;
}

/*--------------------contact------------------------------*/
.contact {
    padding: 100px 20px;    
}
  
  /* Adjust the width and center the contact area */
  .contact_area {
    
   
  max-width: 900px;
    
   
  margin: 0 auto;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
    box-sizing: border-box;
  }
  
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  
  /* Style the form fields and button */
  .contact_area input[type="text"],
  .contact_area input[type="email"],
  .contact_area input[type="tel"],
  .contact_area textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
   
  font-size: 16px;
  }
  
  .contact_area button[type="submit"] {
    
   
  background-color: #4CAF50;
    color: white;
    
   
  padding: 12px 20px;
    
   
  border: none;
    
   
  border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .contact_area button[type="submit"]:hover {
    background-color: #45a049;
  }
  .contact_message h2{
    font-size: 24px;
    
   
    margin-bottom: 20px;
  }
  
  /* Style the contact info */
  
  .contact_info h2 {
    
   
  font-size: 24px;
    
   
  margin-bottom: 20px;
  }
  
  /* Style the working hours */
  .contact_info h3 {
    
   
  font-size: 18px;
    
   
  margin-bottom: 10px;
  }
  
  /* Adjust the map container width and center it */
  .contact_map {
    
   
  max-width: 900px;
    margin: 0 auto;
  }
  
  /* Set a max-width for the embedded map */
  .contact_map iframe {
  max-width: 100%;
    
   
  height: 450px;
    
   
  border: 0;
  }
  
  /* Center the contact form text and error message */
  .contact_textarea {
    
   
  text-align: center;
  }
  
  /* CSS cho thông báo lỗi */
.form-messege1 {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* CSS cho thông báo thành công */
.form-messege2 {
    color: #008000;
    font-size: 14px;
    margin-top: 5px;
}

/* Hiệu ứng ẩn thông báo khi không có nội dung */
.form-messege1:empty,
.form-messege2:empty {
    display: none;
}
  
  /* Adjust the font and color for the contact section */
  .contact h2,
  .contact h3 {
    font-family: Arial, sans-serif;
    
   
  color: #333;
  }
  
  .contact p {
    
   
  color: #666;
    
   
  font-size: 16px;
  }


  .table_price {
    border-collapse: collapse;
    width: 100%;    
  }

  .table_price th,
  .table_price td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }

  .table_price th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .table_price tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table_price tr:hover {
    background-color: #dddddd;
  }
   
  .btn{
    margin-top: 20px;
    margin-bottom: 20px;
}
  .button-cell{
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.2s;
  }

  .button-cell:hover {
    background-color: #45a049;
  }
  .discount-content {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.discount-content h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.discount-content-button {
    display: flex;
    align-items: center;
}

.discount-content-button input {
    width: 70%;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.discount-content-button button {
    height: 35px;
    width: 30%;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.discount-content-button button:hover {
    background-color:  #45a049;
}

/* Optional: Add some spacing for better aesthetics */
.discount-content {
    margin-bottom: 20px;
}
.discount-message {
    color: green;
}

.error-message {
    color: red;
}

